@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
/* @import "~materialize-css/dist/css/materialize.min.css"; */

.logo
{
    height: 60px;
    width: 120px;
}
body{
    
    background-color:white}

.navbar{
    width: 100%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;    
    padding-left: 30%;
}

.mat-option:first-child
{
    margin-top: 50px;
}

.offers {
    max-width: 100%;
    
  }
  
  .example-card {
    max-width: 265px;
    display: inline-block;
  }

  .mat-card{      
      display: inline-block;
  }
  
