<mat-card class="offers">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Don't miss out these offers!</mat-card-title>      
    </mat-card-header>
    <img mat-card-image src="https://www.sbicard.com/sbi-card-en/assets/media/images/personal/offers/shopping/valentine/d-valentines-offer.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>    
  </mat-card>

  <div class="vegetable-cards" style="padding-left: 8%;padding-right:8%;padding-top:2%">
    <mat-chip-list>
      <mat-chip>Recommended Vegetables</mat-chip>      
    </mat-chip-list>
    <mat-card class="example-card" style="display: inline-block; margin-bottom: 40px" *ngFor="let vegetable of VegetableList">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="vegetable.imageUrl" height="180px">
        <mat-card-content>
          <p>{{ vegetable.ProductName }}</p>
          <p>
            {{ vegetable.Price | currency:'INR':'symbol'}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openSnackBar('Item added to cart', 'View Cart')">Add to cart</button>
          <button mat-button></button>
        </mat-card-actions>
      </mat-card>    
  </div>     

  <div class="vegetable-cards" style="padding-left: 8%;padding-right:8%;padding-top:2%">
    <mat-chip-list>
      <mat-chip>Recommended fruits</mat-chip>      
    </mat-chip-list>
    <mat-card class="example-card" style="display: inline-block; margin-bottom: 40px" *ngFor="let fruit of fruitList">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="fruit.imageUrl" height="180px">
        <mat-card-content>
          <p>{{ fruit.ProductName }}</p>
          <p>
            {{ fruit.Price | currency}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openSnackBar('Item added to cart', 'View Cart')">Add to cart</button>
          <button mat-button></button>
        </mat-card-actions>
      </mat-card>    
  </div>   
    



